<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<table>
<form class="auth" action="/auth/sign-up" method="POST">
  <tr>
    <th colspan="2">Create a new account</th>
  </tr>
  <tr>
    <td>First Name</td>
    <td><input type="text" name="firstname" id="firstname" required /></label></td>
  </tr>

  <tr>
    <td>Last Name</td>
    <td><input type="text" name="lastname" id="firstname" /></label></td>
  </tr>

  <tr>
    <td>Username</td>
    <td><input type="text" name="username" id="username" required/></label></td>
  </tr>
  
  <tr>
    <td>Password</td>
    <td> <input type="password" name="password" id="password" required/></label></td>
  </tr>

  <tr>
    <td>Confirm Password</td>
    <td> <input type="password" name="confirmPassword" id="confirmPassword" required/></label></td>
  </tr>

  <tr>
    <th colspan="2">Specify Your Preferences</th>
  </tr>

  <tr>
    <td>Min Budget ($) </td>
    <td> <input type="text" name="minPrice" id="minBudget" /></label></td>
  </tr>

  <tr>
    <td>Max Budget ($)</td>
    <td><input type="text" name="maxPrice" id="maxBudget" /></label></td>
  </tr>

  <tr>
    <td>Property Type</td>
    <td><select name="homeType" id="homeType">
      <option value="Single Family">Single Family</option>
      <option value="Town House">Town House</option>
      <option value="Condo">Condo</option>
      <option value="Multi Family">Multi Family</option>
    </select>
  </td>
  </tr>

  <tr>
    <th class="form-button" colspan="2"><button type="submit">Sign Up</button></th>
  </tr>
  
</form>
</table>
<%- include('../partials/footer') %>