</head>
<body>
<nav>
  <% if (user) { %>
    <i class="fas fa-home fa-2x">HouseHop</i>
    <a href="/wishlist"><%= user.username %>'s Wishlist</a>
    <a href="/houses">Planner</a>
    <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
    <i class="fas fa-home fa-2x">HouseHop</i>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
  <% } %>
</nav>
<section>