.visited-homes, .planning-to-visit, .wishlist-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.house-tile {
  width: 230px;
  height: 230px;
  background-color: rgb(214, 222, 223);
  border-radius: 8px;
  margin: 8px 8px 8px 8px;
}

#add-home{
  background-image:url('../addhome.webp');
  background-size: cover; 
  background-position: center;
}

div.house-tile {
  border:1px solid black;
  color: rgb(6, 40, 52);
}


#image-tile {
width: 230px;
height: 157px;
padding-left: 1px;
margin-top: 1px;
padding-right: 5px;
padding-bottom: 5px;
}

#house-details {
width: 230px;
height: 73px;
}

a.pricetag {
  text-decoration: none;
  color: rgb(6, 40, 52);
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}

a.address-bed-bath-size{
  text-decoration: none;
  color: rgb(6, 40, 52);
  font-size: 13px;
  margin-left: 5px;
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h4#notification{
  align-self: center;
  font-family: "Font Awesome 5 Free";
  color: rgb(214, 222, 223);
}


