.visited-homes, .planning-to-visit{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.house-tile {
  width: 200px;
  height: 200px;
  background-color: rgb(214, 222, 223);
  border-radius: 8px;
  margin: 8px 8px 8px 8px;
}

#add-home{
  background-image:url('../addhome.webp');
  background-size: cover; 
  background-position: center;

}

div.house-tile {
  border:1px solid black;
  color: rgb(6, 40, 52);;
}

a, u {
  text-decoration: none;
}
