table {
  width: 50%;
  margin: auto;
  border-collapse: collapse;
  background-color: #22889d;   
}

th, td {
  padding: 25px;
  text-align: left;
  border: .5px solid whitesmoke;
  background-color: #22889d;  
}

th {
  text-align: center;
  background-color: #22889d; 
  color: white;
  text-transform: uppercase;
}