<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/houses/index.css" />
<%- include('../partials/nav') %>
<h2>Visited Homes </h2>
<div class = "visited-homes">
</div>
<h2>Planning to Visit </h2>
<div class = "visited-homes">
  <a href=""><div class="img-placeholder" id="add-home">
  </div></a>
</div>
<%- include('../partials/footer') %>