<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<% if (typeof isHousePresent !== 'undefined' && isHousePresent === "no") { %>
  <h4 id="notification">
    Entered address was wrong or this house isn't listed for sale <br>
  </h4>
<% } %>

<table>
  <form action="/houses/" method="POST">
  <tr>
    <th colspan="2">Enter House Address</th>
</tr>
<tr>
  <td>Address </td>
  <td> <input type="text" name="streetName" id="streetName" placeholder="e.g. 1725 Slough Avenue" required /></td>
</tr>
<tr>
  <td>City</td>
  <td><input type="text" name="city" id="city" placeholder="e.g. Scranton" required /></td>
</tr>

<tr>
  <td>Visted</td>
  <td><select name="visited">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  </td>
</tr>

<tr>
  <th class="form-button" colspan="2"><button type="submit">Save</button></th>
</tr>
</form>
</table> 

<%- include('../partials/footer') %>