<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<table>
  <form action="/houses/" method="POST">
  <tr>
    <th colspan="2">Enter house details</th>
</tr>
<tr>
  <td>Price:</td>
  <td> <input type="text" name="price" id="price" /></td>
</tr>
<tr>
  <td>Property type:</td>
  <td><select name="propertyType" id="propertyType">
    <option value="Single Family">Single Family</option>
    <option value="Town House">Town House</option>
    <option value="Condo">Condo</option>
    <option value="Multi Family">Multi Family</option>
  </select>
</td>
</tr>
<tr>
  <td>No. of bedrooms:</td>
  <td><input type="text" name="bedrooms" id="bedrooms" /></td>
</tr>
<tr>
  <td>Number of bathrooms</td>
  <td><input type="text" name="bathrooms" id="bathrooms" /></td>
</tr>
<tr>
  <td>Size (in sq ft):</td>
  <td><input type="text" name="size" id="size"></td>
</tr>
<tr>
  <td>Built year: </td>
  <td><input type="text" name="builtYear" id="builtYear"></td>
</tr>
<tr>
  <td>Visted:</td>
  <td><select name="visited">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  </td>
</tr>
<tr>
  <td>
    Street name:
  </td>
  <td>
    <input type="text" name="streetName" id="streetName">
  </td>
</tr>

<tr>
  <td>
    Apartment number:
  </td>
  <td>
    <input type="text" name="apartmentNumber" id="apartmentNumber">
  </td>
</tr>

<tr>
  <td>
    City:
  </td>
  <td>
    <input type="text" name="city" id="city">
  </td>
</tr>

<tr>
  <td>
    State:
  </td>
  <td>
    <input type="text" name="state" id="state">
  </td>
</tr>

<tr>
  <td>
    Country: 
  </td>
  <td>
    <input type="text" name="country" id="country">
  </td>
</tr>

<tr>
  <td>
    Zip code:
  </td>
  <td>
    <input type="text" name="zipCode" id="zipCode">
  </td>
</tr>


<tr>
  <td>
    Neighborhood:
  </td>
  <td>
    <input type="text" name="neighborhood" id="neighborhood">
  </td>
</tr>


<tr>
  <th class="form-button" colspan="2"><button type="submit">Save</button></th>
</tr>
</form>
</table>
<%- include('../partials/footer') %>